
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Paneli</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="alertifyjs/alertify.min.css">
    <link rel="stylesheet" href="alertifyjs/default.min.css">
    <script src="alertifyjs/alertify.min.js"></script>
</head>
<body>
<!-- Header -->
<header>
    <div class="head-container">
        <div class="text"><h2>Admin Paneli</h2></div>
    </div>
</header>
<!-- Nav -->
<div class="flex-container">
    <nav class="sticky">
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/addpost">Post ekle</a></li>
            <li><a href="/allpost">Tüm postlar</a></li>
            <li><a href="/adduser">Kullanıcı ekle</a></li>
            <li><a href="/logout">Çıkış</a></li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>  
</div>



<!-- Footer -->

</body>
</html>
