<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="w-25 p-5 bg-light shadow">
        <form action="/user/login" method="POST">
            <h2 class="text-center my-2">Giriş Yapınız</h2>
            <input type="text" name="username" class="form-control my-3" placeholder="Username">
            <input type="text" name="password" class="form-control my-3" placeholder="Password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>

</body>
</html>












